	{# System Information Page #}
<html>
<head>
<title>This is Index Info Page</title>
</head>
<body>

{% for sys in groups["all"] %}
  {% if sys in groups["control"] %}
	
     ## Control Node Info for {{ hostvars[sys].inventory_hostname }} ##

     System Var	     = {{ sys }}
     Magic Variable  = {{ hostvars[sys].inventory_hostname }}
     Arch1           = {{ hostvars[sys].ansible_architecture }}
     Arch2           = {{ hostvars[sys].ansible_facts.architecture }}
     Arch3           = {{ hostvars[sys].ansible_facts['architecture'] }}
     Date            = {{ hostvars[sys].ansible_facts['date_time']['date'] }}
     Time            = {{ hostvars[sys].ansible_facts['date_time']['time'] }}
     IP Address      = {{ hostvars[sys].ansible_facts['default_ipv4']['address'] }}
     Mac Address     = {{ hostvars[sys].ansible_default_ipv4.macaddress }}
     VDA Size        = {{ hostvars[sys].ansible_facts['devices']['vda']['size'] }}
     OS Type         = {{ hostvars[sys].ansible_facts['distribution'] }}
     OS Version      = {{ hostvars[sys].ansible_facts['distribution_version'] }}
     FQDN            = {{ hostvars[sys].ansible_facts['fqdn'] }}
     Hostname        = {{ hostvars[sys].ansible_hostname }}
     Kernel          = {{ hostvars[sys].ansible_facts.kernel }}
     Total Memory    = {{ hostvars[sys].ansible_facts['memory_mb']['real']['total'] }}
     Free Memory     = {{ hostvars[sys].ansible_facts['memory_mb']['real']['free'] }}
     Python Ver      = {{ hostvars[sys].ansible_facts['python_version'] }}
     User Name       = {{ hostvars[sys].ansible_facts.ansible_local.company.user.emp_name | default("Not Available") }}
     Dept Manager    = {{ hostvars[sys].ansible_facts.ansible_local.company.dept.dept_manager | default("Not Available") }}

  {% endif %}
{% endfor %}


{% for sys in groups["all"] %}
  {% if sys not in groups["control"] %}
	
     ## Managed Host Info for {{ hostvars[sys].inventory_hostname }} ##

     System Var	     = {{ sys }}
     Magic Variable  = {{ hostvars[sys].inventory_hostname }}
     Arch1           = {{ hostvars[sys].ansible_architecture }}
     Arch2           = {{ hostvars[sys].ansible_facts.architecture }}
     Arch3           = {{ hostvars[sys].ansible_facts['architecture'] }}
     Date            = {{ hostvars[sys].ansible_facts['date_time']['date'] }}
     Time            = {{ hostvars[sys].ansible_facts['date_time']['time'] }}
     IP Address      = {{ hostvars[sys].ansible_facts['default_ipv4']['address'] }}
     Mac Address     = {{ hostvars[sys].ansible_default_ipv4.macaddress }}
     VDA Size        = {{ hostvars[sys].ansible_facts['devices']['vda']['size'] }}
     OS Type         = {{ hostvars[sys].ansible_facts['distribution'] }}
     OS Version      = {{ hostvars[sys].ansible_facts['distribution_version'] }}
     FQDN            = {{ hostvars[sys].ansible_facts['fqdn'] }}
     Hostname        = {{ hostvars[sys].ansible_hostname }}
     Kernel          = {{ hostvars[sys].ansible_facts.kernel }}
     Total Memory    = {{ hostvars[sys].ansible_facts['memory_mb']['real']['total'] }}
     Free Memory     = {{ hostvars[sys].ansible_facts['memory_mb']['real']['free'] }}
     Python Ver      = {{ hostvars[sys].ansible_facts['python_version'] }}
     User Name       = {{ hostvars[sys].ansible_facts.ansible_local.company.user.emp_name | default("Not Available") }}
     Dept Manager    = {{ hostvars[sys].ansible_facts.ansible_local.company.dept.dept_manager | default("Not Available") }}

  {% endif %}
{% endfor %}
</body>
</html>
